.importance-1 {
    color: #fff;
    background-color: #d23;
}

.importance-2 {
    color: #fff;
    background-color: #d83;
}

.importance-3 {
    color: #fff;
    background-color: #1676b9;
}

.importance-4 {
    color: #fff;
    background-color: #7ad;
}

.importance-5 {
    color: #000;
    background-color: #fff;
}

.tickets-list-item .importance {
    float: left;
    font-size: 50%;
    font-weight: bold;
    padding: .5em 1em;
    margin-right: 1em;
    border-radius: 100%;
}
