/* list item rows */
.list-item {
    overflow: hidden;
    white-space: nowrap;
}

.list-item .photo {
    float: left;
    margin-right: 10px;
    width: 45px;
    height: 45px;
}

.list-item h1 {
    white-space: nowrap;
}

.list-item span {
    font-size: 75%;
}

/* photos */
.photo {
    border: 1px solid #999;   
}
